body{
    font-family: 'Arial','Helvetica', sans-serif;
    line-height: 1.6;
    color: #1a1a1a;
    background-color: #f8f8f8;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1500px;
    margin:0 auto;
    padding: 0;
    background-color: #DCDCDC;
}

header{
    background:#ffffff;
    padding: 20px 0;
    border-bottom: 1px solid #222;
}
.branding{
    display: flex;
    align-items: center;
    margin-bottom:0px;
    background-color: #C0C0C0;
    padding-left: 0;

}

.logo-img{
    width:80px;
    height:auto;
    margin-right:15px;
    margin-left:0px;

}
.logo-text h1{
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    line-height: 1;
    
}
nav{
    border-top: 1px solid #222;
    padding-top: 10px;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    
}

nav ul li{
margin-right: 25px;
}

nav ul li a{
   color: black;
   font-weight: bold;
   padding: 5px 0;
   text-transform: uppercase;
   letter-spacing: 1px;
}

nav ul li a:hover{
    color: #696969;
    text-decoration: none;
}

main{
    padding: 40px 0;
}

h2{
    font-size: 1.8rem;
    color: #222;
    margin-bottom: 25px;
    border-left: 5px solid #696969;
    padding-left: 10px;
    margin-top: 0px;
    font-family: 'Georgia', serif;
}

.brand-info{
    background: #fff;
    margin-top: 30px;
    padding:30px;
    border-radius:8px;
    text-align: center;
}
.text-mercedes{
    text-align: left;
    margin-bottom: 40px;
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    color: #222;

}
.car-gallery{
    display: flex;
    justify-content:center;
    gap: 40px;
    padding: 40px 10px;
    background-color: #fff;
    border-radius: 8px;
    flex-wrap: wrap;
}

.car-item{
    text-align: center;
    flex: 0 0 30%;
}

.car-item img{
    display: block;
    max-width:100%;
    height: auto;
}

.content-block{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius:8px;
}

.text-content{
    flex:2;
}

.img-content{
    flex:1;
}

footer{
    background: #333;
    color:#ffffff;
    text-align:center;
    padding: 20px 0;
    font-size: 0.9rem;
    bottom: 0;
    width: 100%;
}

footer p{
    margin:0;
}

.car-list{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 20px;
}

.car-model{
    display:flex;
    align-items:center;
    background: #C0C0C0;
    padding: 20px;
    border-radius:8px;
    border-left: 5px solid #696969;
    font-family: 'Georgia', serif;
    font-size: 2rem;
    color: #222;
    margin: 0 0 10px 0;
}

.car-image {
    flex:0 0 300px;
    margin-right:20px;
}
.car-image img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 3px;
}

.car-details{
    flex-grow:1;
}

.model-price{
    font-size: 1.2rem;
    color: #222;
    font-weight: 500;
    margin-bottom: 20px;
}

.checkout-header h2{
    text-align: left;
    margin-top: 30px;
    border: none;
    font-family: 'Georgia', serif;  
}

.selection-grid{
    display:flex;
    justify-content: center;
    gap:20px;
    margin: 30px auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.car-card{
    background:#1a1a1a;
    border: 2px solid #ddd;
    border-radius:12px;
    padding:15px;
    width:220px;
    text-align: center;
    cursor: pointer;
}

.card-card:hover{
    border-color:#000;
}

.car-card.active{
    border-color:#000;
    background-color:#f0f0f0;
}

.car-carc img{
    width:100%;
    height:auto;
    border-radius:8px;
    margin-bottom:10px;
}

.car-card p{
    font-weight: bold;
    margin:5px 0;
}

.checkout-card{
    max-width: 500px;
    margin: 0 auto;
    background:#777;
    padding:30px;
    border-radius:15px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    font-weight: 600;
    color: #333;
}

.form-group input{
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.btn-calculate{
    width:100%;
    padding:15px;
    background-color:#333;
    color:rgb(214, 214, 214);
    border:none;
    border-radius:8px;
    font-weight: bold;
    font-size:1rem;
    cursor:pointer;
    text-transform: uppercase;
}

.btn-calculate:hover{
    background-color:#444;
}

.display-results{
    margin-top:30px;
    padding-top:20px;
    border-top: 1px solid #eee;
}

.hidden{
    display:none;
}

.line{
    display:flex;
    justify-content: space-between;
    margin-bottom:12px;
    font-size: 1.1rem;
}

.discount-text{
    color: #cc0000;
    font-weight: 500;
}

.total-line{
    margin-top:15px;
    padding-top:15px;
    border-top: 2px solid #333;
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
}

.succes-msg{
    background-color: #d4edda;
    color: #155724;
    padding:12px;
    border-radius:8px;
    text-align: center;
    margin-top:20px;
    font-weight: 500;
}

.car-model.active{
    background-color: #a9a9a9;
    border-left: 5px solid #222;
}

.contact-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px;
    padding:20px;
}

.contact-card{
    display:flex;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.contact-card img{
    width:220px;
    object-fit: cover;
}

.contact-info h3{
    font-family: 'Georgia', serif; 
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #000;
}

.contact-info p{
    font-size: 1rem;
    margin-bottom: 12px;
    padding:20px;
}
